@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Caveat:wght@700&family=Dancing+Script:wght@400;500&family=League+Spartan:wght@500&family=Literata:wght@300&family=Noto+Serif+NP+Hmong:wght@500&family=Paytone+One&family=Poppins:ital,wght@1,300&family=Roboto:ital,wght@0,300;0,400;1,400&family=Sedgwick+Ave+Display&family=Slackey&display=swap');


.equipment-grid-bikes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    padding: 10px;
    margin-left: 395px;
    margin-top: 55px;
    
  }
  
  .equipment-card-design-bikes {
    height: 480px;
    width: 320px;
    background-color: rgb(18, 38, 49);
    border-radius: 10px;
    border: 1px solid rgb(18, 38, 49);
    color: aliceblue;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    letter-spacing: 2px;
    position: relative;
    padding: 10px;
  }
  .whishlist-bikes{
    position: absolute;
    top:13px;
    right: 3px;
  }
  .whislist-bikes:hover{
    transform: rotateY(360deg);
  }
  .equipment-pro-img-bikes{
    margin-top: 8px;
    height: 300px;
    width: 300px;
  }
  .equipment-pro-img:hover-bikes {
    transform: rotateY(180deg);
  }
  .-name-bikes:hover {
    color: rgb(13, 131, 235);
  }
  .equipments-card-btn-bikes {
    width: 150px;
    padding: 10px;
    background-color: rgb(21, 44, 66);
    border: 1px solid aliceblue;
    color: rgb(241, 242, 244);
    border-radius: 10px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    letter-spacing: 2px;
  }
  .equipments-card-btn-bikes:hover {
    background-color: aliceblue;
    border: 1px solid rgb(21, 44, 66);
    color: rgb(21, 44, 66);
  }
  