.App-payment{
    margin-top: 200px;
}
.header-payment{
    letter-spacing: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.input-payment{
    border: none;
    letter-spacing: 3px;
    padding: 10px;
    background-color: rgb(97, 187, 236);
    color:rgb(18, 38, 49);
    margin: 5px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid black;
    width: 200px;
}
.payment-btn{
    letter-spacing: 3px;
    padding: 10px;
    background-color: rgb(18, 38, 49);
    color: aliceblue;
    margin: 5px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid black;
    width: 200px;
}
.payment-btn:hover{
    background-color: rgb(97, 187, 236);
    color: rgb(18, 38, 49);
}